<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Epic Button Battle</title>
    <link rel="stylesheet" href="/index.css">
    <script src='/jquery/jquery.js'></script>
    <script src='/socket.io/socket.io.js'></script>
    <script src='index.js'></script>
  </head>
  <body>
    <div id="wrapper">
      <h1>The button has been pushed <span id='counter'></span> time(s)</h1>
      <h3>Push the button to increase count</h3>
      <button id='epic' type="button" name="epic">EPIC</button>
    </div><!-- wrapper end -->
    <div id='reset_div'>
      <button id='reset' type="button" name="reset">reset</button>
    </div><!--  end -->
  </body>
</html>
