*{
  text-align: center;
  font-family: monospace;

}
#wrapper{
  height: 500px;
}
#epic{
  width: 150px;
  height: 60px;
  font-size: 15pt;
  font-weight: bold;
}
#reset_div{
  /*display: block;*/
  vertical-align: bottom;
}
